body {
}
  

#labels{
  float: left;
  padding-right: 15px;
   margin:2px;
   clear:both;
}
#symbols{
  float: right;
}
.symbolBox{
  width:20px;
  height:20px;
  margin:2px;
}
#legend{
padding:0px;
height:542px;
overflow-y:auto;
}

.legend {
margin-left: 5px;
}

.legend-item{
margin-left:5px;
}

 .img-block{
 transition-property: border-color;
 transition-duration: .2s;
  transition-timing-function: linear;
  border-radius: 12px;
  border: 2px solid #eee;
  padding:7px;
  margin:5px;
  width:99px;
  height:124px;
  position: relative;
  cursor:pointer;
  float:left;
  }

.idata{

  width:82px;
  height:62px;
}

 /*.img-block.shapefile {
     border: 2px solid #C59497
 }

 .img-block.tilejson {
     border: 2px solid #0E613B
 }*/

  .img-block:hover{
  border-color:#BBB;
  }

  .img-block.active{
  border:2px solid #6896AC;
      /*background-color: #999;*/
  }

.caption {
  opacity: 1;
  transition: background-color 0.2s linear;
  position: absolute;
  bottom: 0;
  left: 0;
  color:#222;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color:#FFF;
  width: 95px;
  height: 45px;
  padding-left:6px;
  font-size:11px;
  line-height:13px;
  padding-top:3px;
}

caption.active{
opacity: 1;

}

.caption.hover{
background-color:#EEE;
    transition: background-color 0.2s linear;
}

.palette {
cursor: pointer;
display: inline-block;
vertical-align: bottom;
margin: 1px 1px 1px 1px;
padding: 1px;
background: #fff;
border: solid 1px #aaa;
}

.swatch {
display: block;
vertical-align: middle;
width: 15px;
float:left;
height: 12px;
}
        .temppalette {
            cursor: pointer;
            display: inline-block;
            vertical-align: bottom;
            margin: 1px 1px 1px 1px;
            padding: 1px;
            background: #fff;
            border: solid 1px #aaa;
        }



.slider {
    margin: 0 20px;
width: 100px;
}



.bootstrap-select.btn-group {
margin-bottom: 0 !important;
}

.well {
    margin-bottom: 0 !important;
}

table.sortable span.sign {
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 12px;
    margin-top: -10px;
    color: #bfbfc1;
}

table.sortable span.arrow, span.reversed {
    border-style: solid;
    border-width: 5px;
    font-size: 0;
    border-color: #ccc transparent transparent transparent;
    line-height: 0;
    height: 0;
    width: 0;
    margin-top: -2px;
}

    table.sortable span.arrow.up {
        border-color: transparent transparent #ccc transparent;
        margin-top: -7px;
    }

table.sortable span.reversed {
    border-color: transparent transparent #ccc transparent;
    margin-top: -7px;
}

    table.sortable span.reversed.up {
        border-color: #ccc transparent transparent transparent;
        margin-top: -2px;
    }



table.sortable span.az:before {
    content: "a .. z";
}

table.sortable span.az.up:before {
    content: "z .. a";
}

table.sortable span.AZ:before {
    content: "A .. Z";
}

table.sortable span.AZ.up:before {
    content: "Z .. A";
}

table.sortable span._19:before {
    content: "1 .. 9";
}

table.sortable span._19.up:before {
    content: "9 .. 1";
}

table.sortable span.month:before {
    content: "jan .. dec";
}

table.sortable span.month.up:before {
    content: "dec .. jan";
}

table.sortable thead th:not([data-defaultsort=disabled]) {
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
}

table.sortable thead th:hover:not([data-defaultsort=disabled]) {
    background: #efefef;
}

table.sortable thead th div.mozilla {
    position: relative;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */

@media (min-width: 768px) {
  .sidebar {
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
}



/*
 * Main content
 */

