body {
    font-family: 'Lato', arial;
}
  

#labels{
  float: left;
  padding-right: 15px;
   margin:2px;
   clear:both;
}
#symbols{
  float: right;
}
.symbolBox{
  width:20px;
  height:20px;
  margin:2px;
}
#legend{
padding:10px;
overflow-y:auto;

border: solid 1px #EEE;
    border-radius: 5px;
}

.legend {
margin-left: 5px;
}

.legend-item{
margin-left:5px;
font-size:12px;
line-height:1.2 !important;
vertical-align: top;
}

 .img-block{
 
  border-radius: 12px;
  border: 2px solid #eee;
  padding:7px;
  margin:5px;
  width:99px;
  height:124px;
  position: relative;
  cursor:pointer;
  float: left;
  overflow: hidden;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -kthtml-transition: all .1s linear;
  transition: all .1s linear;
  }

  .img-block:hover{
  box-shadow: 0px 0px 2px 2px #ddd;
  }

  .img-block-tall{
    height:174px;
  }

 .caption {
  opacity: .9;
  transition: background-color 0.2s linear;
  position: absolute;
  bottom: 0;
  left: 0;
  color:#222;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color:#fff;
  width: 95px;
  height: 45px;
  padding-left:6px;
  font-size:11px;
  line-height:13px;
  padding-top:3px;
  z-index:10000;
}

  .caption-tall{
height:95px;
  }

 .img-block-m {
       width:209px;
 }
 
 .caption-m {
      width:208px;
     font-size: 18px;
     padding-top: 9px;
 }
 
.idata{
  width:82px;
  height:62px;
}

.idata-lg {
     width: 190px;
    height: 130px;
}
 /*.img-block.shapefile {
     border: 2px solid #C59497
 }

 .img-block.tilejson {
     border: 2px solid #0E613B
 }*/



  .img-block.active{
  border:2px solid #6896AC;
      /*background-color: #999;*/
  }



caption.active{
opacity: 1;

}

.caption.hover{
background-color:#EEE;
}

.palette {
cursor: pointer;
display: inline-block;
vertical-align: bottom;
margin: 1px 1px 1px 1px;
padding: 1px;
background: #fff;
border: solid 1px #aaa;
}

.swatch {
display: block;
vertical-align: middle;
width: 15px;
float:left;
height: 12px;
}
        .temppalette {
            cursor: pointer;
            display: inline-block;
            vertical-align: bottom;
            margin: 1px 1px 1px 1px;
            padding: 1px;
            background: #fff;
            border: solid 1px #aaa;
        }



.slider {
    margin: 0 20px;
width: 100px !important;
}



.bootstrap-select.btn-group {
margin-bottom: 0 !important;
}

.well {
    margin-bottom: 0 !important;
}

table.sortable span.sign {
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 12px;
    margin-top: -10px;
    color: #bfbfc1;
}

table.sortable span.arrow, span.reversed {
    border-style: solid;
    border-width: 5px;
    font-size: 0;
    border-color: #ccc transparent transparent transparent;
    line-height: 0;
    height: 0;
    width: 0;
    margin-top: -2px;
}

    table.sortable span.arrow.up {
        border-color: transparent transparent #ccc transparent;
        margin-top: -7px;
    }

table.sortable span.reversed {
    border-color: transparent transparent #ccc transparent;
    margin-top: -7px;
}

    table.sortable span.reversed.up {
        border-color: #ccc transparent transparent transparent;
        margin-top: -2px;
    }



table.sortable span.az:before {
    content: "a .. z";
}

table.sortable span.az.up:before {
    content: "z .. a";
}

table.sortable span.AZ:before {
    content: "A .. Z";
}

table.sortable span.AZ.up:before {
    content: "Z .. A";
}

table.sortable span._19:before {
    content: "1 .. 9";
}

table.sortable span._19.up:before {
    content: "9 .. 1";
}

table.sortable span.month:before {
    content: "jan .. dec";
}

table.sortable span.month.up:before {
    content: "dec .. jan";
}

table.sortable thead th:not([data-defaultsort=disabled]) {
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
}

table.sortable thead th:hover:not([data-defaultsort=disabled]) {
    background: #efefef;
}

table.sortable thead th div.mozilla {
    position: relative;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */

@media (min-width: 768px) {
  .sidebar {
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
}



/*
 * Main content
 */

.nav-header {
cursor: default;
font-size: 10px;
text-transform: uppercase;
color: #888;
margin-left: 9px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
        color: #222;
        text-decoration: none;
        background-color: #DEDEDE !important;
        background-image: none;
        /*background-color: #0081c2;
        background-image: -moz-linear-gradient(top,#08c,#0077b3);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));
        background-image: -webkit-linear-gradient(top,#08c,#0077b3);
        background-image: -o-linear-gradient(top,#08c,#0077b3);
        background-image: linear-gradient(to bottom,#08c,#0077b3);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0);*/
    }
    .navbar-inner{
    border-left: 12px solid transparent !important;
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-menu a {
  display: block;
  padding: 1px 20px;
}


/* to support heatmap sliders */

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 50%;
  height: 14px;
  margin-left:8px;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #EEE;
  box-shadow: inset 0 1px 0 0 #BBB, inset 0 -1px 0 0 #CCC;
  -webkit-box-shadow: inset 0 1px 0 0 #BBB, inset 0 -1px 0 0 #CCC;
  outline: none; /* no focus outline */
    display: inline-block !important;
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  cursor:pointer;
  height: 12px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 12px;
  border: none;
  border-radius: 12px;
    cursor: pointer;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 12px;
  border-radius: 12px;
  border: 0;
    cursor: pointer;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

   .input-sm {
              padding-left:6px !important;
          }
          #map {
              border: solid #DDD 1px;
          }

          .ranger, .indlabel {
              display: inline-block;
          }

          .panelyr.collapsed > .accordion-toggle:before {
              /* symbol for "collapsed" panels */
              content: "\e080";
              cursor: pointer;
              /* adjust as needed, taken from bootstrap.css */
          }
          
          .panelyr > .accordion-toggle:before {
              font-family: 'Glyphicons Halflings';
              content: "\e114";
              float: left;
              color: #999;
              margin-top: 3px;
              font-size: 10px;
              cursor: pointer;
          }
          
          .liVectorLegend {
              transition-property: border-color;
              transition-duration: .2s;
              transition-timing-function: linear;
              transition-property: background-color;
              transition-duration: .2s;
              transition-timing-function: linear;
              
              overflow: auto;
              margin-bottom: 2px;
          }

          .liVectorLegend:hover {
              border-color: #CCC;
              background-color: #FAFAFA;
          }

          .liTileLegend {
              transition-property: border-color;
              transition-duration: .2s;
              transition-timing-function: linear;
              overflow: auto;
              margin-bottom: 2px;
          }

          .liTileLegend:hover {
              border-color: #CCC;
              background-color: #FAFAFA;
          }

          li.sortable-placeholder {
              border: 1px dashed #CCC;
              background: none;
              height: 40px;
              border-radius: 5px;
              margin-bottom: 7px;
          }

          .btnRemove {
              padding:3px 3px 4px 3px;
              margin-right:2px;
              margin-top:2px;
              line-height:5px;
              color:#ccc;
              transition-property: color;
              transition-duration: .2s;
              transition-timing-function: linear;
          }

              .btnRemove:hover {
                color:#555;
              }

          .nav-tabs > li > a {
              margin-right: 4px;
              line-height: 1.42857143;
              border: 1px solid #EEE;
              border-radius: 4px 4px 0 0;
          }

          .nav > li > a {
              position: relative;
              display: block;
              padding: 8px 8px;
          }

     