<div class="form-horizontal">
    <fieldset id="layerTime">
        <!-- Form Name -->
       

        <!-- Prepended text-->
        <div class="form-group">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input id="lyrname" class="form-control" placeholder="Name of layer" type="text" required="" value="<%=layer.name%>">
                </div>
            </div>
        </div>

        <!-- Prepended text-->
        <div class="form-group">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">URL</span>
                    <input id="lyrUrl" name="lyrurl" class="form-control" placeholder="URL to data" type="text" value="<%=layer.url%>">
                </div>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Type</span>
                    <% var types=[{id:'shapefile', name:'Shapefile'}, {id:'geojson', name :'GeoJSON'}, {id:'heatmap', name:'Heatmap'},{id:'tilelayer', name:'Tilelayer'},{id:'tilejson', name:'TileJSON'},{id:'ArcGIS Dynamic', name:'ArcGIS Dynamic'},{id:'csv',name: 'CSV'}]; %>
                    <select id="lyrType" name="lyrtype" class="form-control">
                        <%     for(var type in types){ %>
                        <option value="<%= types[type].id %>" <% if(layer.type == types[type].id){ print('selected'); } %>><%= types[type].name %></option>
                        <%     }; %>
                    </select>
                </div>
            </div>
        </div>

        <!-- Prepended text-->
        <div class="form-group">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">Thumbnail URL</span>
                    <input id="lyrThumb" name="lyrthumb" class="form-control" placeholder="URL to thumbnail" type="text" value="<%=layer.thumb%>">
                </div>

            </div>
        </div>

        <!-- Prepended text-->
        <div class="form-group">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">Metadata URL</span>
                    <input id="lyrmetadataUrl"  class="form-control" placeholder="URL to metadata document" type="text" value="<%=layer.metadataUrl%>">
                </div>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">Theme</span>
                    <select id="lyrtheme" class="form-control">
                        <%var themes = ["Administrative", "Boundary", "Census", "Cities", "Community", "Democratic Participation", "Demographics", "Develop", "Ecology", "Economic Opportunity", "Education", "Environment", "Food", "General", "Government", "Health Care", "Health Outcomes", "Healthy Environment", "Housing", "Hydrology", "Land", "Major Studies", "Parks and Natural Areas", "Places", "Planning", "Points of Interest", "Population Overlays", "Services and Amenities", "Streets", "TOD", "Taxlots", "Transit", "Transportation", "Water"]; %>
                        <% for(var theme in themes){ %>
                        <option value="<%= themes[theme] %>" <% if(layer.theme == themes[theme]){ print('selected'); } %>><%= themes[theme] %></option>
                        <% }; %>
                    </select>
                </div>
            </div>
        </div>

        <!-- Prepended text-->
        <div class="form-group">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">Data Source</span>
                    <input id="lyrSource" name="lyrSource" class="form-control" placeholder="Metro, Oregon State, DOGAMI etc." type="text" value="<%=layer.source%>">
                </div>

            </div>
        </div>

        <button class="btn btn-primary btnSave" disabled='disabled'><i class="glyphicon glyphicon-floppy-open"></i> save</button><br /><br />

        <legend>Style Options</legend>
        <!-- Prepended text-->
        <div class="form-group">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">Symbol Field</span>
                    <input id="lyrSymbolField" name="lyrSymbolField" class="form-control" placeholder="field to symbolize on" type="text" value="<%=layer.symbolField%>">
                </div>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Color Ramp</span>
                    <% var ramps = ["None","YlGn","YlGnBu","GnBu","BuGn","PuBuGn","PuBu","BuPu","RdPu","PuRd","OrRd","YlOrRd","YlOrBr","Purples","Blues","Greens","Oranges","Reds","Greys","PuOr","BrBG","PRGn","PiYG","RdBu","RdGy","RdYlBu","Spectral","RdYlGn","Paired","Pastel1","Set1","Set3"]; %>
                    <select id="lyrramp"  class="form-control">
                        <% for(var ramp in ramps){ %>
                        <option value="<%= ramps[ramp] %>" <% if(layer.ramp == ramps[ramp]){ print('selected'); } %>><%= ramps[ramp] %></option>
                        <% }; %>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">Legend Object</span>
                    <textarea class="form-control" id="lyrlegend" name="lyrLegend" placeholder="Legend Object (JSON)">
                        <% if(typeof (layer.legend) != 'undefined'){
                        print (JSON.stringify(layer.legend,null, ' '));}%>
                    </textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">Style Object</span>
                    <textarea class="form-control" id="lyrstyle" placeholder="style object (json) - an alternative style definition">
                        <% if(typeof (layer.legend) != 'undefined'){
                        print (JSON.stringify(layer.style));}
                        %>
                    </textarea>
                </div>
            </div>
        </div>

        <button class="btn btn-primary btnSave" disabled='disabled'><i class="glyphicon glyphicon-floppy-open"></i> save</button><br /><br />

        <legend>Other</legend>

        <!-- Textarea -->
        <div class="form-group">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">Popup Template</span>
                    <textarea class="form-control" id="lyrpopupTemplate" placeholder="Mustache popup template">
                        <% if(typeof (layer.popupTemplate) != 'undefined'){
                        print (layer.popupTemplate);
                        }%>
                    </textarea>
                </div>
                <p class="help-block">help</p>
            </div>
        </div>

        <!-- Prepended text-->
        <div class="form-group">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">Filter</span>
                    <input id="lyrDefQuery" name="lyrdefQuery" class="form-control" placeholder="STATUS=1 etc." type="text" value="<%=layer.defQuery%>">
                </div>
                <p class="help-block">help</p>
            </div>
        </div>

        <!-- Prepended text-->
        <div class="form-group">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">Z-Index</span>
                    <input id="lyrZIndex" name="lyrzIndex" class="form-control" placeholder="Tilelayer zIndex" type="text" value="<%=layer.zIndex%>">
                </div>
            </div>
        </div>

        <!-- Multiple Checkboxes -->
        <div class="form-group">
            <div class="col-md-4">
                <div class="checkbox">
                    <label for="checkboxes-0">
                        <input type="checkbox" id="lyrproxy" <% if(layer.proxy==true){ print ("checked");} %>>
                        Requires Proxy
                    </label>
                </div>
                <div class="checkbox">
                    <label for="checkboxes-1">
                        <input type="checkbox" id="lyrtoken" <% if(layer.requiresToken==true){ print ("checked");} %>>
                        Requires Token
                    </label>
                </div>
                <div class="checkbox">
                    <label for="checkboxes-2">
                        <input type="checkbox" id="lyrsimplify" <% if(layer.simplify==true){ print ("checked");} %>>
                        Simplify Geometry
                    </label>
                </div>
                <div class="checkbox">
                    <label for="checkboxes-3">
                        <input type="checkbox" id="lyrclickable" <% if((typeof(layer.clickable) == 'undefined' || layer.clickable==true) && (layer.type != 'tilejson' && layer.type != 'tilelayer')){ print ("checked");} %>>
                        Is Clickable
                    </label>
                </div>
            </div>
        </div>


        <button class="btn btn-primary btnSave" disabled='disabled'><i class="glyphicon glyphicon-floppy-open"></i> save</button><br /><br />

        <legend>Heatmap Options</legend>
        <!-- Prepended text-->
        <div class="form-group">
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">No data Value</span>
                    <input id="lyrHeight" name="lyrHeight" class="form-control" placeholder="Heatmap no data value" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">Height</span>
                    <input id="lyrHeight" name="lyrHeight" class="form-control" placeholder="Heatmap height (int)" type="text">
                </div>
            </div>
        </div>
        <!-- Prepended text-->
        <div class="form-group">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">Width</span>
                    <input id="lyrWidth" class="form-control" placeholder="Heatmap width (int)" type="text">
                </div>
            </div>
        </div>
        <!-- Prepended text-->
        <div class="form-group">
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon">Upper Left Coordinates</span>
                    <input id="lyrUpperLeft" class="form-control" placeholder="Upper Left Coordinates x,y" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon">Georeferencing 'Step'</span>
                    <input id="lyrStep" class="form-control" placeholder="Step (double)" type="text">
                </div>
            </div>
        </div>
        <button class="btn btn-primary btnSave" disabled='disabled'><i class="glyphicon glyphicon-floppy-open"></i> save</button><br /><br />
    </fieldset>
</div>